$color-dark-main: #3c3c3c;
$color-dark-1: #606060;
$color-dark-2: #818181;
$color-dark-3: #979797;

$color-light-main: #fafafa;
$color-light-1: #f5f5f5;
$color-light-2: #f0f0f0;
$color-light-3: #dedede;

$color-primary-main: #311b92;
$color-primary-light: #4527a0;
$color-primary-dark: #010550;

$color-secondry-main: #ab47bc;
$color-secondry-light: #ba68c8;
$color-secondry-dark: #9c27b0;

$color-tertiary-main: #f25ca2;
$color-tertiary-light: #f47cb4;
$color-tertiary-dark: #a94071;

$color-sucess: #11cc11;
$color-danger: crimson;

$box-shadow-main: 0 0 2rem 0 rgba(0, 0, 0, 0.05);
