@font-face {
    font-family: 'roboto';
    src: url('../assets/fonts/roboto-light-webfont.woff') format('woff'),
         url('../assets/fonts/roboto-light-webfont.woff2') format('woff2');
    font-style: 'normal';
    font-weight: 300;
}

@font-face {
    font-family: 'roboto';
    src: url('../assets/fonts/roboto-regular-webfont.woff') format('woff'),
         url('../assets/fonts/roboto-regular-webfont.woff2') format('woff2');
    font-style: 'normal';
    font-weight: 400
}

@font-face {
    font-family: 'roboto';
    src: url('../assets/fonts/roboto-medium-webfont.woff') format('woff'),
         url('../assets/fonts/roboto-medium-webfont.woff2') format('woff2');
    font-style: 'normal';
    font-weight: 500
}