.navbar {
  background-color: $color-primary-main;
  padding: 1.5rem 2rem;

  &__menu-icon {
    fill: $color-light-3;
    width: 3rem;
    height: 3rem;

    &:hover {
      fill: $color-light-main;
    }
  }

  &__icon {
    fill: $color-light-3;
    width: 2rem;
    height: 2rem;
    cursor: poinetr;
    &:hover {
      fill: $color-light-main;
    }
  }
}
