*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "roboto";
  font-weight: 300;
  line-height: 1.7;
  background-color: $color-light-2;
  color: $color-dark-main;
}
