*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "roboto";
  font-weight: 300;
  line-height: 1.7;
  background-color: $color-light-2;
  color: $color-dark-main;
}

.dropdown-toggle::after {
  display: none;
}

.card {
  box-shadow: $box-shadow-main;
}

.circle {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 0.5rem;

  &--primary {
    background-color: $color-primary-main;
  }

  &--secondry {
    background-color: $color-secondry-main;
  }

  &--tertiary {
    background-color: $color-tertiary-main;
  }
}

.row {
  margin-bottom: 2rem;
}
