.stat-card {
	box-shadow: $box-shadow-main;

	& .card-body {
		padding: 2rem;
		margin: 0;
	}

	&__header {
		margin: 0;
		padding: 0;
		width: 100%;

		&-title {
			margin: 0px;
			padding: 0px;
			font-size: 1.4rem;
			font-weight: 500;
			color: $color-primary-dark;
		}

		&-avatar {
			width: 3.5rem;
			height: 3.5rem;
			border-radius: 100%;
			background-color: $color-primary-main;
			display: flex;
			justify-content: center;
			align-items: center;

			&--icon {
				fill: $color-light-1;
				width: 2rem;
				height: 2rem;
			}
		}
	}

	&__stat {
		font-size: 2.5rem;
		font-weight: 400;
		color: $color-dark-main;
	}

	&__substat {
		font-size: 1.4rem;
		font-weight: 400;
		color: $color-dark-2;

		&--profit {
			color: $color-sucess;
			font-weight: 500;
		}

		&--loss {
			color: $color-danger;
			font-weight: 500;
		}
	}
}
